<h1>Hello world from Hello!</h1>

  <% @array.each do |n| %>
    <%= n %> <br />
  <% end %><br/>

  <%= link_to('Hello page 1',{:action => 'index'}) %>
  <p> Saved at Github </p>
<p> Clone crated </p>
