<% @page_title = "Create Section"  %>

<%= link_to("Back to list", sections_path(:page_id => @page.id), :class => 'back-link') %>

<div class="sections new">
  <h2>Create Section</h2>

  <%= form_for(@section, :url => sections_path(@section, :page_id => @page.id)) do |f| %>

  <!-- When a partial needs a variable, we have to send it to the partial -->
  <%= render(:partial => 'form', :locals => {:f => f}) %>


  <div class="form-buttons">
    <%= f.submit("Create section") %>
  </div>
  <% end %>
</div>
