<% @page_title = "Create Page"  %>

<%= link_to("Back to list", pages_path, :class => 'back-link') %>

<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(@page) do |f| %>

  <!-- When a partial needs a variable, we have to send it to the partial -->
  <%= render(:partial => 'form', :locals => {:f => f}) %>


  <div class="form-buttons">
    <%= f.submit("Create page") %>
  </div>
  <% end %>
</div>
