<% @page_title = "Edit Subject"  %>

<%= link_to("Back to list", subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Update Subject</h2>

  <%= form_for(@subject) do |f| %>

  <!-- When a partial needs a variable, we have to send it to the partial -->
  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
    <%= f.submit("Update subject") %>
  </div>
  <% end %>
</div>
