<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS: <%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <meta charset="UTF-8">
  </head>
  <body>

    <div id="header">
      <h1>Simple CMS</h1>
    </div>
    <div id="main">

    <div id="navigation">
      <%= render(:partial => 'layouts/navigation', :locals => { :subjects => @subjects } ) %>
    </div>

    <div id="content">
    <%= yield %>
    </div><!--  content ends here -->

    <div class="clear"></div>

  </div><!--  main ends here -->

  <div id="footer">
    <p id="copyright">&copy; lynda.com</p>
  </div>
  </body>
</html>
